.page-header #go-to-signin {
    float: right;
    font-size: 12px;
    margin-top: -16px;
    margin-right: 60px;
}

#signup-form label,
#signin-form label {
    height: 26px;
    line-height: 26px;
}

#signup-form input,
#signin-form #signin-email,
#signin-form #signin-password {
    width: 300px;
    height: 26px;
}

#settings-form #avatar .controls {
    margin-top: 5px;
}

#settings-form #location,
#settings-form #password {
    margin-top: 5px;
}

#recaptcha_table #recaptcha_logo,
#recaptcha_table #recaptcha_tagline {
    display: none;
}
