.page-header #go-to-signin {
    float: right;
    font-size: 12px;
    margin-top: -16px;
    margin-right: 60px;
}

#signup-form #location label {
    width: 50px;
    float: left;
}

#settings-form #avatar .controls {
    margin-top: 5px;
}

#settings-form #location,
#settings-form #password {
    margin-top: 5px;
}
