#avatar-upload {
    border: 1px solid #ccc;
}

#avatar {
    float: left;
}

#edit-thumbnail {
    float: left;
    margin-left: 60px;
}

#edit-thumbnail button {
    margin-left: 120px;
}

#avatar-preview {
    padding: 4px;
    border: 2px solid #ddd;
    margin-left: 120px;
    margin-bottom: 16px;
}

#avatar-preview .box {
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin-bottom: 16px;
}

#avatar-preview .box img {
    max-width: none;
}
