{% extends 'layout/shelf.html' %}

{% block sidebar %}
    {% include 'shelf/sidebar.html' %}
{% endblock %}

{% block main %}
<ul class="breadcrumb">
    <li>
        <a href="#">{{ shelf.user.penname }}的书架</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="#">{{ column.text() }}</a>
        <span class="divider">/</span>
    </li>
    <li class="active">添加图书</li>
</ul>

{% from 'macros/widget_add_books.html' import widget_add_books %}
{{ widget_add_books(url_for('shelf.add_books', shelf_id=shelf.id, column_name=column.name())) }}
{% endblock %}
