{% extends 'layout/shelf.html' %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/shelf/shelf.css">
{% endblock %}

{% block sidebar %}
    {% set active='reading' %}
    {% include 'shelf/sidebar.html' %}
{% endblock %}

{% block main %}

{% from 'shelf/breadcrumb.html' import breadcrumb %}
{{ breadcrumb(shelf, '在读') }}

<div class="shelf-books">
    <h2><small>在读 &gt;&gt;</small></h2>
    {% set progress='reading' %}
    {% include 'shelf/book_list.html' %}
</div>

{% endblock %}
