{% set user=shelf.user %}
{% from 'macros/link_to.html' import link_to %}
{% include 'account/widgets/badge.html' %}

<script type="text/javascript">
$(function() {
    var user_id = {{ user.id }};
    $('#follow-btn').click(function() {
        Sijax.request('follow', [user_id]);
        return false;
    });
});
</script>

<div id="sidebar">
	<ul class="nav nav-list nav-pills nav-stacked">
        <li id="details">{{ link_to('shelf.item', '书架详情', shelf_id=shelf.id) }}</li>
        <li id="have">{{ link_to('shelf.column', '我有', shelf_id=shelf.id, column_name='have') }}</li>
        <li id="read">{{ link_to('shelf.column', '读过', shelf_id=shelf.id, column_name='read') }}</li>
        <li id="reading">{{ link_to('shelf.column', '在读', shelf_id=shelf.id, column_name='reading') }}</li>
        <li id="wish">{{ link_to('shelf.column', '想读', shelf_id=shelf.id, column_name='wish') }}</li>
        <li id="like">{{ link_to('shelf.column', '喜欢', shelf_id=shelf.id, column_name='like') }}</li>

        <li class="divider"></li>
        <li class="divider"></li>

        <li id="colists">{{ link_to('shelf.colists', '书单', shelf_id=shelf.id) }}</li>
        <li id="tags">{{ link_to('shelf.tags', '标签', shelf_id=shelf.id) }}</li>

        <li class="divider"></li>
        <li class="divider"></li>

        <li id="reading-plan">{{ link_to('shelf.reading_plan', '阅读计划', shelf_id=shelf.id) }}</li>
        <li id="groups">{{ link_to('shelf.groups', '小组', shelf_id=shelf.id) }}</li>
        <li id="blog">{{ link_to('blog.item', '部落格', user_id=shelf.user.id) }}</li>
	</ul>
</div>

<script type="text/javascript" src="/static/js/browser_detect.js"></script>
<script type="text/javascript">
{% if active %}
$('#sidebar ul li').removeClass('active');
$('#sidebar ul li#{{ active }}').addClass('active');
{% endif %}

if (BrowserDetect.browser == 'Explorer' &&
    (BrowserDetect.version == '6' ||
    BrowserDetect.version == '7')) {

    $('li#reading-track').remove();
}
</script>
