{% set user=shelf.user %}
{% include 'account/badge.html' %}

<div id="sidebar">
	<ul class="nav nav-list nav-pills nav-stacked">
        <li id="details"><a href="{{ url_for('shelf.item', shelf_id=shelf.id) }}">书架详情</a></li>
        <li id="have"><a href="{{ url_for('shelf.column', shelf_id=shelf.id, column_name='have') }}">我有</a></li>
        <li id="read"><a href="{{ url_for('shelf.column', shelf_id=shelf.id, column_name='read') }}">读过</a></li>
        <li id="reading"><a href="{{ url_for('shelf.column', shelf_id=shelf.id, column_name='reading') }}">在读</a></li>
        <li id="wish"><a href="{{ url_for('shelf.column', shelf_id=shelf.id, column_name='wish') }}">想读</a></li>
        <li id="like"><a href="{{ url_for('shelf.column', shelf_id=shelf.id, column_name='like') }}">喜欢</a></li>

        <li class="divider"></li>
        <li class="divider"></li>

        <li id="colists"><a href="{{ url_for('shelf.item', shelf_id=shelf.id) }}">书单</a></li>
        <li id="tags"><a href="{{ url_for('shelf.tags', shelf_id=shelf.id) }}">标签</a></li>

        <li class="divider"></li>
        <li class="divider"></li>

        <li id="reading-track"><a href="{{ url_for('shelf.reading_plan', shelf_id=shelf.id) }}">阅读计划</a></li>
	</ul>
</div>

<script>
{% if active %}
$('#sidebar ul li').removeClass('active');
$('#sidebar ul li#{{ active }}').addClass('active');
{% endif %}
</script>
