{% extends 'layout/shelf.html' %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/shelf/shelf.css">
{% endblock %}

{% block sidebar %}
    {% set active='wish' %}
    {% include 'shelf/sidebar.html' %}
{% endblock %}

{% block main %}
<ul class="breadcrumb">
    <li>
        <a href="#">{{ shelf.user.penname }}的书架</a>
        <span class="divider">/</span>
    </li>
    <li class="active">想读</li>
</ul>

<div class="shelf-books">
    <h2><small>想读 &gt;&gt;</small></h2>
    {% include 'shelf/book_list.html' %}
</div>

{% endblock %}
