#sidebar ul {
    font-size: 14px;
    border: 1px solid #e5e5e5;
    padding: 0;
}

#sidebar ul li a {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    text-indent: 4em;
}

.shelf-books .book-list {
    padding: 10px;
    height: 360px;
    border: 1px solid #e5e5e5;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-border-radius: 5px;
}

.shelf-books .book-list ul li {
    margin-bottom: 30px;
    margin-left: 10px;
}

.shelf-books .book-list ul li .details {
    display: none;
}

.pop {
    position: absolute;
    width: 300px;
    background: #fff;
    border: 3px solid #ccc;
    padding: 20px;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.pop .arrow {
    position: absolute;
    width: 20px;
    height: 30px;
    background: url('/static/img/arrow.png') no-repeat 0 0;
    right: -19px;
    top: 30px;
}

.pop .book-title {
    font-size: 14px;
}
