#sidebar ul {
    font-size: 14px;
    border: 1px solid #e5e5e5;
    padding: 0;
}

#sidebar ul li a {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    text-indent: 4em;
}

#profile blockquote {
    padding-left: 20px;
    font-family: '微软雅黑';
}

#profile .btns {
    margin-bottom: 20px;
}

#profile .intro {
    margin-left: 40px;
    border: 1px dashed #ddd;
    width: 400px;
    height: 50px;
    padding: 5px 10px;
    overflow: auto;

    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

#profile .intro p {
    font-size: 12px;
}

#profile dt,
#profile dd {
    float: left;
    width: 120px;
    padding: 6px;
    text-align: center;
    background: #eee;
    font-weight: normal;
    border: 1px solid #eee;
}

#profile dd {
    margin-left: 0;
    margin-right: 10px;
    background: #fff;
}

#profile .controls-row {
    margin-bottom: 6px;
}

.shelf-books .book-list {
    padding: 10px;
    height: 360px;
    overflow: auto;
    border: 1px solid #e5e5e5;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-border-radius: 5px;
}

.shelf-books .book-list ul li {
    margin-bottom: 30px;
    margin-left: 10px;
    float: left;
    width: 100px;
    height: 140px;
}

.shelf-books .book-list ul li .details {
    display: none;
}

.pop {
    position: absolute;
    width: 300px;
    background: #fff;
    border: 3px solid #ccc;
    padding: 20px;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.pop .arrow {
    position: absolute;
    width: 20px;
    height: 30px;
    background: url('/static/img/arrow.png') no-repeat 0 0;
    right: -19px;
    top: 30px;
}

.pop .book-title {
    font-size: 14px;
}

.tag-list .nav-pills > li {
    margin-right: 6px;
}

.tag-list .nav-pills > li > a {
    border: 1px solid #ddd;
}

.tag-list .nav-pills > li.active > a {
    border: 1px solid #0088cc;
}

#comment-board {
    margin-left: 10px;
}

#comment-board .comments ul li {
    margin-bottom: 20px;
}


#happening ul li,
#new-shelves ul li {
    width: 260px;
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
}

#happening ul li img {
    height: 80px;
}

#new-shelves ul li img {
    height: 60px;
}
