<div class="book-badge well">
    <div class="media">
        <a class="pull-left" href="{{ url_for('book.item', book_id=book.id) }}">
            <img width=71 height=100 src="/static/upload/cover/{{ book.cover }}">
        </a>

        <div class="media-body">
            <ul class="unstyled">
                <li>标题：{{ book.title }}</li>
                <li>ISBN：{{ book.isbn13 }}</li>
                <li>作者：{{ ','.join(book.author) }}</li>
                <li>出版社：{{ book.publisher }}</li>
                <li>出版日期：{{ book.pubdate }}</li>
            </ul>
        </div>
    </div>
</div>
