#index-carousel {
    height: 200px;
    border: 1px solid #eee;
    padding: 20px;

    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

#index-carousel .carousel-indicators li {
    background: #ccc;
    cursor: pointer;
}

#index-carousel .carousel-indicators li.active {
    background: #c8dcbe;
}
