{% macro center_form(endpoint, method='post') %}
<form action="{{ url_for(endpoint, **kwargs) }}"
      class="form-horizontal"
      method="{{ method }}">

    {{ caller() }}
</form>
{% endmacro %}

{% macro render_field(field, placeholder, class='') %}
    <div class="control-group">
        {{ field.label(class="control-label") }}

        <div class="controls">
        {% if placeholder %}
            {{ field(placeholder=placeholder, class=class) }}
        {% elif field.description %}
            {{ field(placeholder=field.description, class=class) }}
        {% else %}
            {{ field(class=class) }}
        {% endif %}

        {% if field.errors %}
            <span class="help-inline">{{ ' '.join(field.errors) }}</span>
        {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro render_checkbox(field) %}
    <div class="control-group">
        <div class="controls">
            <label for="{{ field.id }}">{{ field }} {{ field.label.text }}</label>
        </div>
    </div>
{% endmacro %}

{% macro render_radio(field) %}
    <div class="control-group">
        {{ field.label(class="control-label") }}
        <div class="controls">
            <ul class="inline">
            {% for subfield in field %}
                <li><label for="{{ subfield.id }}">{{ subfield }} {{ subfield.label.text }}</label></li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endmacro %}

{% macro render_hidden(name, value) %}
    <input type="hidden" name="{{ name }}" value="{{ value }}">
{% endmacro %}

{% macro render_submit(label) %}
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">{% if label %}{{ label }}{% else %}{{ _('确定') }}{% endif %}</button>
        </div>
    </div>
{% endmacro %}
