{% extends 'layout/single_column.html' %}
{% from 'macros/link_to.html' import link_to %}

{% block content %}

<div class="page-header">
    <h1><small>我的小组</small></h1>
</div>

<div id="groups">
    <ul class="unstyled">
    {% for group in groups %}
        <li>
            <div>
                <h2><small>{{ link_to('group.item', group.name, group_id=group.id) }}</small></h2>
                <p>{{ group.intro }}</p>
            </div>
        </li>
        <hr>
    {% endfor %}
    </ul>
</div>

{% endblock %}
