{% extends 'layout/single_column.html' %}

{% block content %}

<div class="page-header">
    <h1><small>创建新的小组</small></h1>
</div>

<div id="group-new-form">
    {% from 'macros/form.html' import render_field, render_submit %}
    <form method="post" class="form-horizontal" action="{{ url_for('group.new') }}" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ render_field(form.totem) }}
        {{ render_field(form.name) }}
        {{ render_field(form.intro) }}

        {{ render_submit() }}
    </form>
</div>

{% endblock %}
