{% extends 'layout/single_column.html' %}

{% block content %}

<a href="{{ url_for('blog.item', user_id=post.author.id) }}">&larr;返回博客首页</a>

<div class="page-header">
    <h1><small>{{ post.title }}</small></h1>
    <blockquote>
        <div class="post-meta">
            <span>{{ post.author.display_name }}</span>
            <span class="divider">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <span>{{ post.timestamp|dt }}</span>

            <div class="operations pull-right">
            {% if post.permissions().edit().can() %}
                <a href="{{ url_for('blog.edit', user_id=post.author.id, slug=post.slug) }}"><i class="icon-pencil"></i> 编辑</a>
            {% endif %}
            {% if post.permissions().delete().can() %}
                <a href="#delete-confirm-modal" class="delete-confirm-modal-btn" value="{{ post.id }}" rol="button" data-toggle="modal"><i class="icon-trash"></i> 删除</a>
                <div id="delete-confirm-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-header">
                        <h1><small>确认删除</small></h1>
                    </div>

                    <div class="modal-body">
                        <p class="text-error">警告：确实要删除这篇文章吗？</p>
                    </div>

                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
                        <button class="btn btn-primary">确定</button>
                    </div>
                </div><!-- end .modal -->
            {% endif %}
            </div>
        </div><!-- end .post-meta -->
    </blockquote>
</div>

<div id="post-content">
    {% if post.ref_books %}
        {% for book in post.get_ref_books() %}
        {% include 'book/widgets/badge.html' %}
        {% endfor %}
        <br>
    {% endif %}

    {{ post.content|markdown }}
</div>

<hr>

<blockquote>
    <div class="post-keywords">
        <span>关键字：</span>
        {% for keyword in post.keywords %}
        <span><a href="#"><i class="icon-tag"></i> {{ keyword.name }}</a></span>&nbsp;&nbsp;
        {% endfor %}
    </div>
</blockquote>

<div>
{% if post.previous %}
    <a class="pull-left" href="{{ url_for('blog.entry', user_id=post.author.id, slug=post.previous.slug) }}">&larr;前一篇</a>
{% endif %}

{% if post.next %}
    <a class="pull-right" href="{{ url_for('blog.entry', user_id=post.author.id, slug=post.next.slug) }}">后一篇&rarr;</a>
{% endif %}
</div>

<script type="text/javascript" src="/static/js/blog/delete_entry.js"></script>

{% endblock %}
