{% extends 'layout/double_columns.html' %}
{% from 'macros/link_to.html' import li_link_to %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/blog/blog.css">
{% endblock %}

{% block left_col %}

<div class="page-header">
    <h1><small>我的部落格</small></h1>
    <a class="btn" href="{{ url_for('blog.new') }}">撰写新文章&rarr;</a>
</div>

{% include 'blog/list.html' %}

{% endblock %}

{% block right_col %}
{% include 'account/badge.html' %}
<hr>

<div class="nav">
    <a href="{{ url_for('shelf.item', shelf_id=user.shelf.id) }}">到{% if user==current_user %}我{% else %}{{ user.get_display_name() }}{% endif %}的书架&rarr;</a>
</div>
<hr>

<div id="recend-posts">
    <h2><small>最近文章...</small></h2>
    <ul class="unstyled">
    {% for post in user.recent_posts() %}
    {{ li_link_to('blog.entry', post.title, user_id=user.id, slug=post.slug) }}
    {% endfor %}
    </ul>
</div>

<script type="text/javascript" src="/static/js/blog/delete_entry.js"></script>
<script type="text/javascript">
$(function() {
    $('.post .operations').hide();
    $('.post').hover(
        function() {
            $(this).find('.operations').show();
        },
        function() {
            if (!$('.delete-confirm-modal').hasClass('in')) {
                $(this).find('.operations').hide();
            }
        }
    );
});
</script>
{% endblock %}
