<div id="posts">
    {% for post in posts %}
    <div class="post">
        <div class="post-title clearfix">
            <h4><a href="{{ url_for('blog.entry', user_id=post.author.id, slug=post.slug) }}">{{ post.title }}</a></h4>
        </div>
        <blockquote class="clearfix">
            <div class="post-meta pull-left">
                <span>{{ post.author.display_name }}</span>
                <span class="divider">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <span>{{ post.timestamp|dt }}</span>
            </div>

            <div class="operations pull-left">
            {% if post.permissions().edit().can() %}
                <span class="divider">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <a href="{{ url_for('blog.edit', user_id=post.user_id, slug=post.slug) }}"><i class="icon-pencil"></i> 编辑</a>
            {% endif %}
            {% if post.permissions().delete().can() %}
                <a href="#delete-confirm-modal" class="delete-confirm-modal-btn" value="{{ post.id }}" rol="button" data-toggle="modal"><i class="icon-trash"></i> 删除</a>
            {% endif %}
            </div>
        </blockquote>

        <div class="post-content">
            {{ post.content|markdown }}
        </div>
        <blockquote>
            <div class="post-keywords">
                <span>关键字：</span>
                {% for keyword in post.keywords %}
                <span><a href="#"><i class="icon-tag"></i> {{ keyword.name }}</a></span>&nbsp;&nbsp;
                {% endfor %}
            </div>
        </blockquote>
    </div><!-- end .post -->
    <hr>
    {% endfor %}

    <blockquote>
        <div id="delete-confirm-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-header">
                <h1><small>确认删除</small></h1>
            </div>

            <div class="modal-body">
                <p class="text-error">警告：确实要删除这篇文章吗？</p>
            </div>

            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
                <button class="btn btn-primary">确定</button>
            </div>
        </div><!-- end .modal -->
    </blockquote>
</div>
