body {
    font-size: 12px;
}

body > .container {
    width: 900px;
    min-height: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #fff;
    padding: 30px;
    border: 1px solid #c8dcbe;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.box {
    margin-bottom: 30px;
}

.dashed-hr {
    height: 0;
    border: none;
    border-top: 1px dashed #cdcdcd;
}

#header {
    background: white;
    border-bottom: 3px solid #ddd;
}

#footer {
    background: white;
    border-top: 1px solid #ddd;
}

#header .divider {
    border-bottom: 1px dashed #ccc;
}

#header #top-bar .logo {
    line-height: 30px;
    margin-top: 5px;
    font-size: 1.5em;
    float: left;
}

#header #top-bar .search-box {
    margin-left: 30px;
    float: left;
}

#header #top-bar .search-box form {
    margin-top: 4px;
}

#header #top-bar .search-box form input {
    height: 14px;
    font-size: 12px;
}

#header #top-bar .search-box form button {
    height: 24px;
    line-height: 14px;
    font-size: 12px;
}

#header #account-nav {
    float: right;
    margin-bottom: 0;
    font-size: 12px;
}
