body > .container {
    width: 600px;
    margin-top: 20px;
    background: #fff;
    padding: 30px 50px;
    border: 1px solid #c8dcbe;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
