#book-thumb dl,
#book-tags dl {
    margin: 0;
}

#book-thumb dl dt,
#book-tags dl dt {
    float: left;
    font-weight: normal;
}

#book-tags dl dd {
    float: left;
}

#book-tags {
    border: 2px dashed #ddd;
    margin: 10px;
    padding: 10px;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#operations div {
    font-size: 14px;
    margin-bottom: 10px;
}

#star {
    float: left;
}

#hint {
    float: left;
    background: #f0f0f0;
    width: 50px;
    height: 20px;
    text-align: center;
}

#on-my-shelf ul li {
    float: left;
    margin-right: 5px;
}

#who-have > ul > li,
#who-like > ul > li {
    width: 140px;
    float: left;
}

#add-to-shelf-modal .tips ol li {
    font-size: 12px;
}

#add-to-shelf-modal textarea,
#add-to-colist-modal textarea {
    width: 300px;
    height: 100px;
}
