.page-header .btn {
    float: right;
    font-size: 12px;
    margin-top: -30px;
    margin-right: 60px;
}

#post-new-form #content-textarea {
    width: 0;
    height: 0;
    overflow: hidden;
}

#post-new-form #editor {
    position: relative;
    width: 600px;
    height: 300px;
    border: 1px solid #ddd;
    margin-bottom: 16px;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#post-new-form .markdown-help {
    float: right;
}

#post-new-form #ref-books ul li {
    width: 360px;
    background: #eee;
    padding: 4px;
    margin-bottom: 8px;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
