<!DOCTYPE html>
<!--
        ___          ___            ___          ___            _____
       /\  \        /\  \          /\  \        /\  \          / __  \
      /::\  \      /::\  \        /::\  \      /::\  \        /:/  \__\
     /:/\:\  \    /:/\:\  \      /:/\:\  \    /:/\:\  \      /:/  |:|  |
    /:/  \:\__\  /:/  \:\  \    /:/  \:\__\  /:/  \:\  \    /:/__/|:|  |
   /:/  / \/__/ /:/  / \:\__\  /:/  / \/__/ /:/  / \:\__\  /: \  \|:|  |
  /:/__/       /:/__/  /:/  / /:/__/       /:/__/  /:/  / /:/\:\  |:|  |
  \:\  \       \:\  \ /:/  /  \:\  \       \:\  \ /:/  / /:/ /\:\ |:|  |
   \:\  \       \:\  /:/  /    \:\  \       \:\  /:/  /  \/_/  \_\|:|  |
    \:\__\       \:\/:/  /      \:\__\       \:\/:/  /            |:|  |
     \/__/        \~~/__/        \/__/        \~~/__/             \_|__|

  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Enjoy yourself!

-->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}Cocoa{% endblock %}</title>
    {% block favicon %}{% endblock %}

    {% block css %}
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <!--[if lte IE 6]>
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap-ie6.css">
    <![endif]-->
    <!--[if lte IE 7]>
    <link rel="stylesheet" href="/static/css/bootstrap/ie.css">
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome-ie7.min.css">
    <![endif]-->
    {% endblock %}

    {% block js %}
    <script type="text/javascript" src="/static/js/jquery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap/bootstrap.min.js"></script>
    <!--[if lte IE 6]>
    <script type="text/javascript" src="/static/js/bootstrap/bootstrap-ie.js"></script>
    <![endif]-->
    {% endblock %}
</head>

<body>
{% include 'common/header.html' %}

<div class="container clearfix">
{% block content %}
{% endblock %}
</div>

{% include 'common/footer.html' %}
</body>
</html>
