{% extends 'base.html' %}

{% block css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/css/shelf/shelf.css">
<link rel="stylesheet" type="text/css" href="/static/css/jquery.mCustomScrollbar.css">
{% endblock %}

{% block js %}
{{ super() }}
<script type="text/javascript" src="/static/js/jquery/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="/static/js/sijax/sijax.js"></script>
<script type="text/javascript">
    {{ g.sijax.get_js()|safe }}
</script>
{% endblock %}

{% block content %}

<div class="row-fluid">
    <div class="span3">
        {% block sidebar %}
        {% endblock %}
    </div>

    <div class="span9">
        {% from 'macros/flash.html' import flash_messages %}
        {{ flash_messages() }}

        {% block main %}
        {% endblock %}
    </div><!-- end .span9 -->
</div>

<script type="text/javascript">
(function($) {
    var timer;

    function removePop() {
        $('.pop').fadeOut();
        $('.book-list img.active').removeClass('active');
    }

    $('.book-list img').hover(
        function() {
            clearTimeout(timer);
            $('.book-list img.active').removeClass('active');
            $(this).addClass('active');

            var offset = $(this).offset();
            $('.pop').remove();

            // 如果是封面是“添加图书到书架”，不要显示popover.
            if ($(this).parent().next('.details').length == 0)  {
                return;
            }

            $('body').append('<div class="pop"></div>');
            $('.pop').html($(this).parent().next('.details').html());
            $('.pop').offset({ top: offset.top, left: offset.left - 364 });

            if ($('.pop a.finish-reading-btn').length) {
                var value = $('.pop .book-title a').attr('value');
                $('.pop a.finish-reading-btn').click(function() {
                    Sijax.request('finish_reading', [value]);
                    return false;
                });
            }
        },
        function() {
            timer = setTimeout(removePop, 300);
        }
    );

    $(document).on({
        mouseenter: function() {
            clearTimeout(timer);
        },
        mouseleave: function() {
            timer = setTimeout(removePop, 300);
        }
    }, '.pop');

    $(window).load(function() {
        $('.book-list').mCustomScrollbar({
            autoDraggerLength: true,
            scrollButtons: {
                enable: true
            },
            theme: 'dark-thick',
            callbacks: {
                whileScrolling: function() {
                    if ($('.pop')) {
                        var offset = $('.book-list img.active').offset();

                        if (offset) {
                            $('.pop').offset({ top: offset.top });
                        }
                    }
                }
            }
        });
    });
})(jQuery);
</script>

{% endblock %}
