{% extends 'layout/single_column.html' %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/account/account.css">
{% endblock %}

{% block content %}

<div class="page-header">
    <h1><small>{{ _('Change password') }}</small></h1>
</div>

<div id="password-change-form">
{% from 'macros/form.html' import render_submit %}
    <form method="post" class="form-horizontal" action="{{ url_for('account.change_password') }}">
        {{ form.csrf_token }}

        <div class="control-group{% if form.old.errors %} error{% endif %}">
            <div class="controls input-prepend error">
                <span class="add-on"><i class="icon-key"></i></span>
                {{ form.old(placeholder='旧密码') }}
            </div>
            <span class="help-inline">{{ ' '.join(form.old.errors) }}</span>
        </div>

        <div class="control-group{% if form.new.errors %} error{% endif %}">
            <div class="controls input-prepend">
                <span class="add-on"><i class="icon-key"></i></span>
                {{ form.new(placeholder='新密码') }}
            </div>
            <span class="help-inline">{{ ' '.join(form.new.errors) }}</span>
        </div>


        <div class="control-group{% if form.confirm.errors %} error{% endif %}">
            <div class="controls input-prepend">
                <span class="add-on"><i class="icon-retweet"></i></span>
                {{ form.confirm(placeholder='确认密码') }}
            </div>
            <span class="help-inline">{{ ' '.join(form.confirm.errors) }}</span>
        </div>

        {{ render_submit('确认修改') }}
    </form>
</div>

{% endblock %}
