{% extends 'layout/single_column.html' %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/account/account.css">
{% endblock %}

{% block content %}

{% from 'macros/link_to.html' import link_to %}

<div class="page-header">
    <h1><small>{{ _('Sign In') }}</small></h1>

    <div id="go-to-signin">
        还没有帐号？到{{ link_to('account.signup', '这里') }}注册
    </div>
</div>

{% from 'macros/flash.html' import flash_messages %}
{{ flash_messages() }}

<div id="signin-form">
    {% from 'macros/form.html' import center_form, render_field, render_checkbox %}
    {% call center_form('account.signin', next=next) %}
        {{ form.csrf_token }}

        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_checkbox(form.remember) }}

        <div class="control-group">
            <div class="controls">
                <button class="btn btn-primary" type="submit">{{ _('Sign In') }}</button>
                <a href="#">{{ _('Forgot your password?') }}</a>
            </div>
        </div>
    {% endcall %}
</div>

<script type="text/javascript" src="/static/js/jquery/jquery.placeholder.min.js"></script>
<script type="text/javascript">
$(function() {
    $('input').placeholder();
});
</script>

{% endblock %}
