{% extends 'layout/single_column.html' %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/account/account.css">
<link rel="stylesheet" href="/static/css/account/cityselect.css">
{% endblock %}

{% block content %}

{% from 'macros/link_to.html' import link_to %}

<div class="page-header">
    <h1><small>创建一个帐号</small></h1>

    <div id="go-to-signin">
        有帐号？从{{ link_to('account.signin', '这里') }}</a>登入
    </div>
</div>

<div id="signup-form">
    {% from 'macros/form.html' import center_form, render_field %}
    {% call center_form('account.signup') %}
        {{ form.csrf_token }}

        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}

        <div class="control-group">
            <label class="control-label">城市</label>
            <div id="location" class="controls">
                {{ form.city_id }}
                {% include 'account/cityselect.html' %}
            </div>
        </div>

        <hr>

        <div class="control-group{% if form.recaptcha.errors %} error{% endif %}">
            <label class="control-label">验证码</label>
            <div id="recaptcha" class="controls">
                {{ form.recaptcha }}
                <div>{{ ' '.join(form.recaptcha.errors) }}</div>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button class="btn btn-primary" type="submit">{{ _('Sign Up') }}</button>
            </div>
        </div>
    {% endcall %}
</div>

<script type="text/javascript">
$('document').ready(function() {
    $('#signup-form').cityselect();
});
</script>

{% endblock %}
