{% extends 'layout/single_column.html' %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/account/account.css">
<link rel="stylesheet" href="/static/css/account/upload_avatar.css">
<link rel="stylesheet" href="/static/css/imgareaselect-default.css">

<link rel="stylesheet" href="/static/plugins/fileupload/css/jquery.fileupload-ui.css">
{% endblock %}

{% block js %}
{{ super() }}
<script type="text/javascript" src="/static/js/jquery/jquery.imgareaselect.pack.js"></script>
<script type="text/javascript" src="/static/js/sijax/sijax.js"></script>
<script type="text/javascript" src="/static/js/sijax/sijax_upload.js"></script>
{% endblock %}

{% block content %}

<div class="page-header">
    <h1><small>{{ _('Upload avatar') }}</small></h1>
</div>

<!--
<div id="upload-avatar-form">
    {% from 'macros/form.html' import render_hidden %}
    <form method="post" id="upload_avatar" name="upload_avatar" enctype="multipart/form-data">
        <div class="input-append">
            <input type="file" name="avatar">
            <button class="btn" type="submit">上传</button>
        </div>
    </form>
</div>
-->

<form id="fileupload" action="" method="post" enctype="multipart/form-data">
    <div class="row fileupload-buttonbar">
        <div class="span7">
            <span class="btn btn-success fileinput-button">
                <i class="icon-plus icon-white"></i>
                <span>上传头像...</span>
                <input type="file" name="avatar" multiple>
            </span>
        </div><!-- end .span7 -->

    </div><!-- end .fileupload-buttonbar -->
    <table role="presentation" class="table table-striped">
        <tbody class="files"></tbody>
    </table>
</form>


<div id="avatar">
{% if current_user.avatar %}
    <img src="/static/upload/avatar/{{ current_user.avatar }}">
{% endif %}
</div>

<div id="edit-thumbnail">
    <form id="edit-thumbnail-form" method="post" action="{{ url_for('account.edit_thumbnail') }}">
        {% if current_user.avatar %}
        <div class="alert alert-info">
            拖曳或缩放左侧的矩形区域
        </div>

        <div id="avatar-preview">
            <div class="box">
                <img src="/static/upload/avatar/{{ current_user.avatar }}">
            </div>
        </div>
        <button type="submit" class="btn">确定</button>

        <div id="thumbnail-values">
            {{ render_hidden('x1', '0') }}
            {{ render_hidden('y1', '0') }}
            {{ render_hidden('x2', '0') }}
            {{ render_hidden('y2', '0') }}
        </div>

        {% endif %}
    </form>
</div>

<script type="text/javascript" src="/static/js/account/upload_avatar.js"></script>
<script type="text/javascript">
$(window).load(function() {
{% if current_user.avatar %}
    var thumbnail_box = false;
    {% if current_user.thumbnail_box %}
    thumbnail_box = {{ current_user.thumbnail_box|tojson|safe }};
    {% endif %}

    initThumbnail(thumbnail_box);
{% endif %}
});
</script>

<script type="text/javascript" src="/static/plugins/fileupload/js/vendor/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/static/plugins/fileupload/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="/static/plugins/fileupload/js/jquery.fileupload.js"></script>
<script type="text/javascript" src="/static/plugins/fileupload/js/jquery.fileupload-fp.js"></script>
<script type="text/javascript" src="/static/plugins/fileupload/js/jquery.fileupload-ui.js"></script>

<script type="text/javascript">
var uploader = $('#fileupload');
uploader.fileupload({
    dataType:           'json',
    autoUpload:         true,
    fileInput:          uploader.find('input:file'),
    acceptFileTypes:    /(\.|\/)(gif|jpe?g|png)$/i,
    maxNumberOfFiles:   1,
    maxFileSize:        3 * 1024 * 1024,
    success:            function(data, status) {
        $('#avatar-preview img').attr('src', data.file.url);
        $('#avatar img').attr('src', data.file.url).load(function() {
            initThumbnail(data.file.thumbnail_box);
        });
    },
    error:              function(data, status) {
    }
});

// fix firefox bug
uploader.find('input:file').removeAttr('disabled');
</script>

{% endblock %}
