{% from 'macros/link_to.html' import link_to, li_link_to %}
<div id="header">
    <div id="top-bar" class="container clearfix">
        <div class="logo">
            {{ link_to('frontend.home', '可可书架') }}
        </div>

        <div class="search-box">
            <form class="navbar-form form-inline">
                <div class="input-append">
                    <input type="text" name="q" placeholder="搜索你感兴趣的内容">
                    <button class="btn" type="submit"><i class="icon-search"></i></button>
                </div>
            </form>
        </div>

        <div id="account-nav" class="navbar nav-collapse">
            <ul class="nav">
            {% if not current_user.is_authenticated() %}
                {{ li_link_to('account.signin', '登入') }}
                {{ li_link_to('account.signup', '注册') }}
            {% else %}
                {{ li_link_to('account.settings', '我的帐号') }}
                {{ li_link_to('shelf.item', '我的书架', shelf_id=current_user.shelf.id) }}
                {% set unread_mail_count=current_user.unread_mail_count() %}
                {% if unread_mail_count == 0 %}
                {{ li_link_to('mail.inbox', '收件箱') }}
                {% else %}
                {{ li_link_to('mail.inbox', '收件箱('~unread_mail_count~')') }}
                {% endif %}
                {{ li_link_to('account.signout', '登出') }}
            {% endif %}
            </ul>
        </div>
    </div>

    <div class="divider"></div>

    <div id="main-nav" class="container clearfix">
        <div class="navbar nav-collapse">
            <ul class="nav">
                <li class="divider-vertical"></li>
                {{ li_link_to('frontend.home', '主页') }}
                <li class="divider-vertical"></li>
                {{ li_link_to('shelf.home', '书架') }}
                <li class="divider-vertical"></li>
                {{ li_link_to('book.home', '图书') }}
                <li class="divider-vertical"></li>
                {{ li_link_to('group.home', '小组') }}
                <li class="divider-vertical"></li>
                {{ li_link_to('bookstore.home', '发现书店') }}
                <li class="divider-vertical"></li>
            </ul>
        </div>
    </div>
</div>
