{% extends 'layout/single_column.html' %}

{% block css %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="page-header">
    <h1><small>图书列表</small></h1>
</div>

<div id="books">
    {% include 'book/widgets/simple_list.html' %}
</div>

<hr>

<div class="pagination">
    <ul class="unstyled">
    </ul>
</div>

<script type="text/javascript" src="/static/js/paginate.js"></script>
<script type="text/javascript">
$(function() {
    paginate({{ paginate|safe }}, '/book/all/')
});
</script>

{% endblock %}
