{% extends 'layout/double_columns.html' %}

{% block css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/css/book/book.css">
{% endblock %}

{% block js %}
{{ super() }}
<script type="text/javascript" src="/static/js/sijax/sijax.js"></script>
<script type="text/javascript">
    {{ g.sijax.get_js()|safe }}
</script>
{% endblock %}

{% from 'macros/link_to.html' import link_to %}

{% block left_col %}
<div class="page-header">
    <h2><small>{{ book.title }}</small></h2>
</div>

<div id="book-thumb" class="box clearfix">
    <div class="box-content">
        <div class="span3 book-cover">
            <img width=100 src="/static/upload/cover/{{ book.cover }}">
        </div>
        <div class="span4 book-meta">
            <dl>
                <dt>书名：</dt>
                <dd>{{ book.title }}</dd>

                <dt>ISBN：</dt>
                <dd>{{ book.isbn13 }}</dd>

                {% if book.subtitle %}
                <dt>副标题：</dt>
                <dd>{{ book.subtitle }}</dd>
                {% endif %}

                {% if book.orititle %}
                <dt>原作名：</dt>
                <dd>{{ book.orititle }}</dd>
                {% endif %}

                <dt>作者：</dt>
                <dd>{{ ', '.join(book.author) }}</dd>

                {% if book.translator %}
                <dt>译者：</dt>
                <dd>{{ ', '.join(book.translator) }}</dd>
                {% endif %}

                <dt>页数：</dt>
                <dd>{{ book.pages }}</dd>

                <dt>定价：</dt>
                <dd>{{ book.get_price() }}</dd>

                <dt>出版社：</dt>
                <dd>{{ book.publisher }}</dd>

                <dt>出版日期：</dt>
                <dd>{{ book.pubdate }}</dd>
            </dl>
        </div><!-- end .book-meta -->

        <div class="span4 offset1">
            <div class="star-rating">
                <div class="clearfix">
                    <div id="star"></div>
                    <div id="hint"></div>
                </div>

                <div id="rate-count">(<span>0</span>人评价)</div>
                <div id="my-score"></div>
            </div>
        </div>
    </div><!-- end .box-content -->
</div><!-- end #book-thumb -->

<script type="text/javascript" src="/static/js/jquery/jquery.raty.min.js"></script>
<script type="text/javascript">
var readOnly = false;
var score = null;
var hints = [null, '差劲', '一般', '还行', '喜欢', '力荐'];

{% if book.score %}
{% if current_user.is_authenticated() and book.my_rate() %}
readOnly = true;
$('#my-score').html('我的评分：{{ book.my_rate().score }}分');
{% endif %}

score = {{ book.score }}
$('#hint').html(hints[score]);
$('#rate-count span').html('{{ book.get_rate_count() }}');
{% endif %}

{% if not current_user.is_authenticated() %}
readOnly = true;
{% endif %}

$('#star').raty({
    readOnly : readOnly,
    score    : score,
    path     : "/static/img/raty",
    click    : function(score, evt) {
        {% if current_user.is_authenticated() %}
        Sijax.request('rate', [{{ book.id }}, score]);
        {% endif %}
    },
    mouseover: function(score, evt) {
        var target = $('#hint');

        if (score && score >= 1 && score <= 5) {
            target.html(hints[score]);
        } else {
            target.empty();
        }
    }
});
</script>

<div id="book-tags" class="box clearfix">
    <div class="box-content">
        <div class="category clearfix">
            <dl>
                <dt>所属分类：</dt>
                {% if book.category %}
                <dd>{{ book.category.as_tree()|safe }}</dd>
                {% endif %}
                {% if current_user.is_authenticated() %}
                <dd>{{ link_to('category.change_category', '修改', book_id=book.id) }}</dd>
                {% endif %}
            </dl>
        </div>

        <hr>

        <div class="tags clearfix">
            <dl>
                <dt>这本书的标签：</dt>
                {% for book_tag in book.book_tags %}
                <dd><a href="{{ url_for('tag.item', tag_id=book_tag.tag.id) }}">{{ book_tag.tag.name }}({{ book_tag.count }})</a></dd>
                {% endfor %}
            </dl>
        </div>

        <div class="my-tags clearfix">
            <dl>
                <dt>我的标签：</dt>
                {% for book_tag in book.book_tags %}
                <dd><a href="#">{{ book_tag.tag.name }}({{ book_tag.count }})</a></dd>
                {% endfor %}
        </div>
    </div>
</div><!-- end #book-tags -->

<div id="book-summary" class="box clearfix">
    <div class="box-header">
        <h2><small>内容简介</small></h2>
    </div>

    <div class="box-content">
        {{ book.extra.summary|nl2br }}
    </div>
</div><!-- end #book-summary -->

<hr>

<div id="author-intro" class="box clearfix">
    <div class="box-header">
        <h2><small>作者简介</small></h2>
    </div>

    <div class="box-content">
        {{ book.extra.author_intro|nl2br }}
    </div>
</div>

<hr>

{% if book.extra.catalog %}
<div id="catalog" class="box clearfix">
    <div class="box-header">
        <h2><small>目录</small></h2>
    </div>

    <div class="box-content">
        {{ book.extra.catalog|nl2br }}
    </div>
</div>
{% endif %}

{% endblock %}


{% block right_col %}

{% if current_user.is_authenticated() %}
<div id="book-for-me">
    <ul class="unstyled">
        {% for x in book.in_columns %}
        <li>{{ x.text() }}</li>
        {% endfor %}
    </ul>
</div>

<hr>

<div id="operations">
    <div>
        <a href="{{ url_for('blog.new', ref_book_id=book.id) }}">写书评&rarr;</a>
    </div>

    <div>
        <a href="#add-to-colist-modal" rol="button" data-toggle="modal">添加到书单&rarr;</a>
        <div id="add-to-colist-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-header">
                <h1><small>添加到我的书单</small></h1>
            </div>

            <div class="modal-body">
                <div id="select-colist">
                    <label>请选择书单：</label>
                    <select name="colist_id" multiple="multiple">
                    {% for colist in current_user.colists %}
                        <option value="{{ colist.id }}">
                            {{ colist.name }}
                        </option>
                    {% endfor %}
                    </select>
                </div>

                <div>
                    或者，<a href="{{ url_for('colist.new') }}">创建新书单&rarr;</a>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
                <button class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>

    {% if not book.not_in_columns|count == 0 %}
    <div>
        <a href="#add-to-shelf-modal" role="button" data-toggle="modal">添加到书架&rarr;</a>
        <div id="add-to-shelf-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-header">
                <h1><small>添加到我的书架</small></h1>
            </div>

            <div class="modal-body">
                <div id="shelf-column">
                    <label>请选择书架：（可选多项）</label>
                    <ul class="nav nav-pills">
                        {% for x in book.not_in_columns %}
                        <li><a href="#" value="{{ x.name() }}">{{ x.text() }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div>
                    <label for="add-tags">打几个标签：</label>
                    <input type="text" id="add-tags" name="tags">
                </div>

                <div>
                    <label for"short-review">简单说两句吧：</label>
                    <textarea id="short-review" name="short-review"></textarea>
                </div>
            </div><!-- end .modal-body -->

            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
                <button class="btn btn-primary">确定</button>
            </div>
        </div><!-- end modal -->
    </div>
    {% endif %}

<script type="text/javascript">
$(function() {
    var book_id = {{ book.id }};

    // add to colist
    $('#add-to-colist-modal .btn-primary').click(function() {
        colist_id = $('select[name=colist_id]').val();

        if (!colist_id) {
            alert('请选择一个书单');
            return false;
        }

        Sijax.request('add_to_colist', [colist_id, book_id]);
        $('#add-to-colist-modal').modal('hide');

        return false;
    });

    // add to shelf
    $('#shelf-column ul li').toggle(function() {
        $(this).addClass('active');
    }, function() {
        $(this).removeClass('active')
    });

    $('#add-to-shelf-modal .btn-primary').click(function() {
        columns = [];
        $('#shelf-column ul li.active a').each(function() {
            columns.push($(this).attr('value'));
        });

        tags = $('input:text[name=tags]').val();
        short_review = $('textarea[name=short-review]').val();

        if (columns.length == 0) {
            alert('至少选择一个书架');
            return false;
        }

        Sijax.request('add_to_shelf', [book_id, columns, tags, short_review]);
        $('#add-to-shelf-modal').modal('hide');
        return false;
    });
});
</script>
</div><!-- end #operations -->
{% endif %}

{% endblock %}
